nifi/nifi-tmpl.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>bd6b8398-0179-1000-9745-6fba855e4286</groupId>
    <name>nifi-tmpl</name>
    <snippet>
        <connections>
            <id>06ddb3de-e5d4-3975-0000-000000000000</id>
            <parentGroupId>ae5db7e7-29c7-3338-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ae5db7e7-29c7-3338-0000-000000000000</groupId>
                <id>25c80c68-256a-3a7e-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>ae5db7e7-29c7-3338-0000-000000000000</groupId>
                <id>d1ca3d30-a71a-3903-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>331c6c77-a8a4-3d61-0000-000000000000</id>
            <parentGroupId>ae5db7e7-29c7-3338-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ae5db7e7-29c7-3338-0000-000000000000</groupId>
                <id>c442e337-e7fb-3f2c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>ae5db7e7-29c7-3338-0000-000000000000</groupId>
                <id>42ff668c-cfee-3e9a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>3c7998da-9e22-3f2f-0000-000000000000</id>
            <parentGroupId>ae5db7e7-29c7-3338-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ae5db7e7-29c7-3338-0000-000000000000</groupId>
                <id>e7f046b1-8d85-3d7f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>ae5db7e7-29c7-3338-0000-000000000000</groupId>
                <id>b6acc490-42b9-380c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>3f34ba6b-1cf3-347e-0000-000000000000</id>
            <parentGroupId>ae5db7e7-29c7-3338-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ae5db7e7-29c7-3338-0000-000000000000</groupId>
                <id>2a166856-ddd9-3628-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>filter</selectedRelationships>
            <source>
                <groupId>ae5db7e7-29c7-3338-0000-000000000000</groupId>
                <id>e7f046b1-8d85-3d7f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>42dddacd-3aad-3767-0000-000000000000</id>
            <parentGroupId>ae5db7e7-29c7-3338-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ae5db7e7-29c7-3338-0000-000000000000</groupId>
                <id>2a166856-ddd9-3628-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>ae5db7e7-29c7-3338-0000-000000000000</groupId>
                <id>c442e337-e7fb-3f2c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>66a1a217-781b-3455-0000-000000000000</id>
            <parentGroupId>ae5db7e7-29c7-3338-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ae5db7e7-29c7-3338-0000-000000000000</groupId>
                <id>2a166856-ddd9-3628-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>filter</selectedRelationships>
            <source>
                <groupId>ae5db7e7-29c7-3338-0000-000000000000</groupId>
                <id>5f114bf3-3d7e-3dba-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>6c1f5574-2819-3489-0000-000000000000</id>
            <parentGroupId>ae5db7e7-29c7-3338-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ae5db7e7-29c7-3338-0000-000000000000</groupId>
                <id>2a166856-ddd9-3628-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>filter</selectedRelationships>
            <source>
                <groupId>ae5db7e7-29c7-3338-0000-000000000000</groupId>
                <id>25c80c68-256a-3a7e-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e5920ee0-a973-3d9d-0000-000000000000</id>
            <parentGroupId>ae5db7e7-29c7-3338-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ae5db7e7-29c7-3338-0000-000000000000</groupId>
                <id>5f114bf3-3d7e-3dba-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>ae5db7e7-29c7-3338-0000-000000000000</groupId>
                <id>a2b95052-03c6-3753-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>5ef7d31b-fbb8-31b6-0000-000000000000</id>
            <parentGroupId>ae5db7e7-29c7-3338-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>
                        <name>CSV Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>
                        <name>Value Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Include Header Line</key>
                    <value>
                        <name>Include Header Line</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>
                        <name>Quote Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>
                        <name>Escape Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                    <value>
                        <name>Comment Marker</name>
                    </value>
                </entry>
                <entry>
                    <key>Null String</key>
                    <value>
                        <name>Null String</name>
                    </value>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>
                        <name>Trim Fields</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Mode</key>
                    <value>
                        <name>Quote Mode</name>
                    </value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>
                        <name>Record Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Include Trailing Delimiter</key>
                    <value>
                        <name>Include Trailing Delimiter</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>
                        <name>csvutils-character-set</name>
                    </value>
                </entry>
            </descriptors>
            <name>CSVRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>custom</value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>,</value>
                </entry>
                <entry>
                    <key>Include Header Line</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>"</value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>\</value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                </entry>
                <entry>
                    <key>Null String</key>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>Quote Mode</key>
                    <value>MINIMAL</value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>\n</value>
                </entry>
                <entry>
                    <key>Include Trailing Delimiter</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>UTF-8</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>8c1f16b7-8df5-3c09-0000-000000000000</id>
            <parentGroupId>ae5db7e7-29c7-3338-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>
                        <name>csv-reader-csv-parser</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>
                        <name>CSV Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>
                        <name>Value Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>
                        <name>Record Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>
                        <name>Skip Header Line</name>
                    </value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>
                        <name>ignore-csv-header</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>
                        <name>Quote Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>
                        <name>Escape Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                    <value>
                        <name>Comment Marker</name>
                    </value>
                </entry>
                <entry>
                    <key>Null String</key>
                    <value>
                        <name>Null String</name>
                    </value>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>
                        <name>Trim Fields</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>
                        <name>csvutils-character-set</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-allow-duplicate-header-names</key>
                    <value>
                        <name>csvutils-allow-duplicate-header-names</name>
                    </value>
                </entry>
            </descriptors>
            <name>CSVReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>csv-header-derived</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>commons-csv</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>custom</value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>,</value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>\n</value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>"</value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>\</value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                </entry>
                <entry>
                    <key>Null String</key>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>UTF-8</value>
                </entry>
                <entry>
                    <key>csvutils-allow-duplicate-header-names</key>
                    <value>true</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.csv.CSVReader</type>
        </controllerServices>
        <processors>
            <id>25c80c68-256a-3a7e-0000-000000000000</id>
            <parentGroupId>ae5db7e7-29c7-3338-0000-000000000000</parentGroupId>
            <position>
                <x>8.0</x>
                <y>320.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>
                            <name>include-zero-record-flowfiles</name>
                        </value>
                    </entry>
                    <entry>
                        <key>cache-schema</key>
                        <value>
                            <name>cache-schema</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-default-precision</key>
                        <value>
                            <name>dbf-default-precision</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-default-scale</key>
                        <value>
                            <name>dbf-default-scale</name>
                        </value>
                    </entry>
                    <entry>
                        <key>filter</key>
                        <value>
                            <name>filter</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>8c1f16b7-8df5-3c09-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>5ef7d31b-fbb8-31b6-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>cache-schema</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>dbf-default-precision</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>dbf-default-scale</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>filter</key>
                        <value>SELECT area, data_somministrazione, totale FROM FLOWFILE</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>QueryRecord</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>filter</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.QueryRecord</type>
        </processors>
        <processors>
            <id>2a166856-ddd9-3628-0000-000000000000</id>
            <parentGroupId>ae5db7e7-29c7-3338-0000-000000000000</parentGroupId>
            <position>
                <x>520.0</x>
                <y>824.0</y>
            </position>
            <bundle>
                <artifact>nifi-hadoop-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Hadoop Configuration Resources</key>
                        <value>
                            <name>Hadoop Configuration Resources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                        <value>
                            <name>Kerberos Principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                        <value>
                            <name>Kerberos Keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Password</key>
                        <value>
                            <name>Kerberos Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Relogin Period</key>
                        <value>
                            <name>Kerberos Relogin Period</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Additional Classpath Resources</key>
                        <value>
                            <name>Additional Classpath Resources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Block Size</key>
                        <value>
                            <name>Block Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IO Buffer Size</key>
                        <value>
                            <name>IO Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replication</key>
                        <value>
                            <name>Replication</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions umask</key>
                        <value>
                            <name>Permissions umask</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote Owner</key>
                        <value>
                            <name>Remote Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote Group</key>
                        <value>
                            <name>Remote Group</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Compression codec</key>
                        <value>
                            <name>Compression codec</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Locality</key>
                        <value>
                            <name>Ignore Locality</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Hadoop Configuration Resources</key>
                        <value>/hdfs/config/core-site.xml, /hdfs/config/hdfs-site.xml</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                    </entry>
                    <entry>
                        <key>Kerberos Password</key>
                    </entry>
                    <entry>
                        <key>Kerberos Relogin Period</key>
                        <value>4 hours</value>
                    </entry>
                    <entry>
                        <key>Additional Classpath Resources</key>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>/input</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>replace</value>
                    </entry>
                    <entry>
                        <key>Block Size</key>
                    </entry>
                    <entry>
                        <key>IO Buffer Size</key>
                    </entry>
                    <entry>
                        <key>Replication</key>
                    </entry>
                    <entry>
                        <key>Permissions umask</key>
                    </entry>
                    <entry>
                        <key>Remote Owner</key>
                    </entry>
                    <entry>
                        <key>Remote Group</key>
                    </entry>
                    <entry>
                        <key>Compression codec</key>
                        <value>NONE</value>
                    </entry>
                    <entry>
                        <key>Ignore Locality</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutHDFS</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
        </processors>
        <processors>
            <id>42ff668c-cfee-3e9a-0000-000000000000</id>
            <parentGroupId>ae5db7e7-29c7-3338-0000-000000000000</parentGroupId>
            <position>
                <x>1296.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>URL</key>
                        <value>
                            <name>URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>
                            <name>Filename</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>
                            <name>Data Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                        <value>
                            <name>User Agent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                        <value>
                            <name>Accept Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>
                            <name>redirect-cookie-policy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>URL</key>
                        <value>http://raw.githubusercontent.com/ValerioCristofori/sabd2021-project/main/data/totale-popolazione.csv</value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>totale-popolazione.csv</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Username</key>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>default</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>totale-popolazione</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GetHTTP</type>
        </processors>
        <processors>
            <id>5f114bf3-3d7e-3dba-0000-000000000000</id>
            <parentGroupId>ae5db7e7-29c7-3338-0000-000000000000</parentGroupId>
            <position>
                <x>872.0</x>
                <y>312.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>
                            <name>include-zero-record-flowfiles</name>
                        </value>
                    </entry>
                    <entry>
                        <key>cache-schema</key>
                        <value>
                            <name>cache-schema</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-default-precision</key>
                        <value>
                            <name>dbf-default-precision</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-default-scale</key>
                        <value>
                            <name>dbf-default-scale</name>
                        </value>
                    </entry>
                    <entry>
                        <key>filter</key>
                        <value>
                            <name>filter</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>8c1f16b7-8df5-3c09-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>5ef7d31b-fbb8-31b6-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>cache-schema</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>dbf-default-precision</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>dbf-default-scale</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>filter</key>
                        <value>SELECT area, data_somministrazione, fascia_anagrafica, sesso_femminile FROM FLOWFILE</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>QueryRecord</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>filter</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.QueryRecord</type>
        </processors>
        <processors>
            <id>a2b95052-03c6-3753-0000-000000000000</id>
            <parentGroupId>ae5db7e7-29c7-3338-0000-000000000000</parentGroupId>
            <position>
                <x>864.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>URL</key>
                        <value>
                            <name>URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>
                            <name>Filename</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>
                            <name>Data Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                        <value>
                            <name>User Agent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                        <value>
                            <name>Accept Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>
                            <name>redirect-cookie-policy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>URL</key>
                        <value>http://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/somministrazioni-vaccini-latest.csv</value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>somministrazioni-vaccini-latest.csv</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Username</key>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>default</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>somministrazioni-vaccini-latest</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GetHTTP</type>
        </processors>
        <processors>
            <id>b6acc490-42b9-380c-0000-000000000000</id>
            <parentGroupId>ae5db7e7-29c7-3338-0000-000000000000</parentGroupId>
            <position>
                <x>416.0</x>
                <y>8.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>URL</key>
                        <value>
                            <name>URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>
                            <name>Filename</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>
                            <name>Data Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                        <value>
                            <name>User Agent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                        <value>
                            <name>Accept Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>
                            <name>redirect-cookie-policy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>URL</key>
                        <value>http://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/punti-somministrazione-tipologia.csv</value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>punti-somministrazione-tipologia.csv</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Username</key>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>default</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>punti-somministrazione-tipologia</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GetHTTP</type>
        </processors>
        <processors>
            <id>c442e337-e7fb-3f2c-0000-000000000000</id>
            <parentGroupId>ae5db7e7-29c7-3338-0000-000000000000</parentGroupId>
            <position>
                <x>1312.0</x>
                <y>312.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>
                            <name>include-zero-record-flowfiles</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>8c1f16b7-8df5-3c09-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>5ef7d31b-fbb8-31b6-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>true</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConvertRecord</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ConvertRecord</type>
        </processors>
        <processors>
            <id>d1ca3d30-a71a-3903-0000-000000000000</id>
            <parentGroupId>ae5db7e7-29c7-3338-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>8.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>URL</key>
                        <value>
                            <name>URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>
                            <name>Filename</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>
                            <name>Data Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                        <value>
                            <name>User Agent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                        <value>
                            <name>Accept Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>
                            <name>redirect-cookie-policy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>URL</key>
                        <value>http://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/somministrazioni-vaccini-summary-latest.csv</value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>somministrazioni-vaccini-summary-latest.csv</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Username</key>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>default</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>somministrazioni-vaccini-summary-latest</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GetHTTP</type>
        </processors>
        <processors>
            <id>e7f046b1-8d85-3d7f-0000-000000000000</id>
            <parentGroupId>ae5db7e7-29c7-3338-0000-000000000000</parentGroupId>
            <position>
                <x>432.0</x>
                <y>320.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>
                            <name>include-zero-record-flowfiles</name>
                        </value>
                    </entry>
                    <entry>
                        <key>cache-schema</key>
                        <value>
                            <name>cache-schema</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-default-precision</key>
                        <value>
                            <name>dbf-default-precision</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-default-scale</key>
                        <value>
                            <name>dbf-default-scale</name>
                        </value>
                    </entry>
                    <entry>
                        <key>filter</key>
                        <value>
                            <name>filter</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>8c1f16b7-8df5-3c09-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>5ef7d31b-fbb8-31b6-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>cache-schema</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>dbf-default-precision</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>dbf-default-scale</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>filter</key>
                        <value>SELECT area, denominazione_struttura FROM FLOWFILE</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>QueryRecord</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>filter</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.QueryRecord</type>
        </processors>
    </snippet>
    <timestamp>05/30/2021 13:46:28 UTC</timestamp>
</template>
